<footer>
    <section class="footer-container container-fluid" style="background-color: #FFDD95;">
        <div class="footer-info container-xl d-flex flex-column flex-md-row justify-content-around align-items-start">
            <img class="col-12 col-md-3 mt-3" src="/assets/img/logo.png" alt="">
            <!-- Start footer navigation -->
            <div class="footer-nav col-12 col-md-3 d-flex flex-column align-items-start mx-1 px-1">
                <h5 class="py-2 mt-3">SITEMAP</h5>
                <a class="my-1" href="/programme">Programme</a>
                <a class="my-1" href="/partnership">Partnership</a>
                <a class="my-1" href="/article">Article</a>
                <a class="my-1" href="/career">Career</a>
                <a class="my-1" href="/about-us">About us</a>
            </div>
            <!-- End footer navigation -->
            <!-- Start footer sosmed links -->
            <div class="footer-sosmed col-12 col-md-3 d-flex flex-column align-items-start mx-1 px-1">
                <h5 class="py-2 mt-2">SOCIAL MEDIA</h5>
                <a class="my-1" href="https://www.linkedin.com/company/house-ilmu-indonesia"
                    target="_blank">LinkedIn</a>
                <a class="my-1" href="https://www.instagram.com/houseilmu.id" target="_blank">Instagram</a>
                <a class="my-1" href="https://www.tiktok.com/@houseilmu.id" target="_blank">Tiktok</a>
            </div>
            <!-- End footer sosmed links -->
        </div>
        <div
            class="footer-copyright container-xl d-flex flex-column flex-md-row justify-content-center align-items-center">
            <p class="col-12 my-2 text-center">houseilmu.id@gmail.com | &copy; 2025 House Ilmu All rights reserved.
            </p>
        </div>
    </section>
</footer>