<!-- Gunakan sintaks ini jika upcoming events lebih dari 1 dan tiap event gambar poster hanya 1 -->
<div class="container-xxl d-flex flex-column justify-content-center align-items-center py-4">
    <h1 class="col-12 text-center fw-bold py-4" style="color: #083D77;">Upcoming Event</h1>
    <div class="upcoming-container container-xxl d-flex justify-content-center align-items-center">
        <!-- Start main swiper upcoming -->
        <div class="swiper swiperUpcomingContainer">
            <div class="swiper-wrapper d-flex flex-row justify-content-around align-items-center">

                <!-- Start container sub swiper -->
                <div class="swiper-slide d-flex flex-column justify-content-center align-items-center">
                    <div
                        class="upcoming-desc container-xl d-flex flex-column flex-md-row justify-content-around align-items-center py-3">
                        <!-- Start sub swiper -->
                        <div class="col-12 col-md-6 mb-4">
                            <img src="/assets/img/chillups.jpeg" alt="poster chillups 1">
                        </div>
                        <!-- End sub swiper -->
                        <!-- Start sub swiper description -->
                        <div
                            class="upcoming-event-desc col-12 col-md-6 d-flex flex-column align-items-center text-center fw-semibold">
                            <p>👾 What is ChillUps? 👾 <br> This is the best gathering where we can relax while
                                upgrading ourselves together! For those of you who are still confused about
                                post-campus life, you can join right away!😎.</p>
                            <a class="col-lg-4 col-md-6 py-3 px-4 rounded-pill text-light fw-bold"
                                href="https://bit.ly/chillups24" target="_blank">Daftar</a>
                        </div>
                        <!-- End sub swiper description -->
                    </div>
                </div>
                <!-- End container sub swiper -->

                <!-- Start container sub swiper -->
                <div class="swiper-slide d-flex flex-column justify-content-center align-items-center">
                    <div
                        class="upcoming-desc container-xl d-flex flex-column flex-md-row justify-content-around align-items-center py-3">
                        <!-- Start sub swiper -->
                        <div class="col-12 col-md-6 mb-4">
                            <img src="/assets/img/bodtalks-sept-2024.jpg" alt="">
                        </div>
                        <!-- End sub swiper -->
                        <!-- Start sub swiper description -->
                        <div
                            class="upcoming-event-desc col-12 col-md-6 d-flex flex-column align-items-center text-center fw-semibold">
                            <p>🚀 BoD Talks: Pengembangan Soft Skill di Dunia Kerja 🚀</p>
                            <a class="col-lg-4 col-md-6 py-3 px-4 rounded-pill text-light fw-bold"
                                href="https://bit.ly/BoDTalks" target="_blank">Daftar</a>
                        </div>
                        <!-- End sub swiper description -->
                    </div>
                </div>
                <!-- End container sub swiper -->

            </div>
            <!-- Start main swiper button -->
            <div class="swiper-button-next swiper-button-upcoming-container-next"></div>
            <div class="swiper-button-prev swiper-button-upcoming-container-prev"></div>
            <div class="swiper-pagination swiper-pagination-upcoming-container"></div>
            <!-- End main swiper button -->
        </div>
    </div>
    <!-- End main swiper upcoming -->
</div>