<header>
    <!-- Start navigation -->
    <nav class="navbar navbar-expand-md" style="background-color: #FFF7E9 ;">
        <div class="navbar-container container-sm ">
            <div class="nav-img d-flex flex-row justify-content-around justify-content-lg-start align-items-center">
                <a href="/"><img src="/assets/img/logo.png" alt="logo house ilmu"></a>
                <!-- Start menu mobile -->
                <button class="navbar-toggler border-2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="nav-bars"><i class="fa-solid fa-bars fs-1" style="color: #FE9000;"></i></span>
                </button>
                <!-- End menu mobile -->
            </div>
            <!-- Start dropdown menu mobile -->
            <div class="collapse navbar-collapse py-3 " id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto text-center d-flex align-items-center justify-content-center fw-semibold"
                    data-aos="fade-left">
                    <a class="nav-link active rounded-pill" aria-current="page" href="/">Home</a>

                    <!-- Programme Dropdown -->
                    <div class="nav-item dropdown">
                        <span class="nav-link mx-0 mx-md-1 mx-lg-3 rounded-pill" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" style="cursor: pointer;">
                            Programme
                            <i class="fa-solid fa-chevron-down ms-1"></i>
                        </span>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/programme/HI-programmes/">Programme</a></li>
                            <li><a class="dropdown-item" href="/programme/HI-opportunities/">HI Opportunities</a></li>
                        </ul>
                    </div>

                    <a class="nav-link rounded-pill" href="/partnership/">Partnership</a>
                    <a class="nav-link mx-0 mx-md-1 mx-lg-3 rounded-pill" href="/article/">Article</a>
                    <a class="nav-link rounded-pill" href="/career/">Career</a>
                    <a class="nav-link mx-0 mx-md-1 mx-lg-3 rounded-pill" href="/about-us/">About Us</a>
                </div>
            </div>
            <!-- End dropdown menu mobile -->
        </div>
    </nav>
    <!-- End navigation -->
</header>