<div class="productsHI-container d-flex flex-column justify-content-center align-items-center">
	<p class="text-dark text-center fw-semibold">CV Review</p>
	<div class="productsHI-details d-flex flex-column align-items-center">
		<img class="img-fluid" src="/assets/img-opp/product/product-img-1.jpg" alt="">
		<p class="p-2">CV Review itu ngecek ulang CV kamu sebelum kirim ke perusahaan 🙌🏻. Yuk cek CV kamu di sini
			sebelum
			kirim ke HR! Pastikan sudah rapi dan menarik biar makin dilirik 🔥</p>
		<a class="mb-2" href="https://bit.ly/CVRVWHII" target="_blank">Register here</a>
	</div>
</div>