<div class="productsHI-container d-flex flex-column justify-content-center align-items-center">
	<p class="text-dark text-center fw-semibold">Coaching CV</p>
	<div class="productsHI-details d-flex flex-column align-items-center">
		<img class="img-fluid" src="/assets/img-opp/product/product-img-2.jpg" alt="">
		<p class="p-2">Coaching CV itu ngajarin kamu cara bikin CV yang keren dan menarik✨ Yukk ikutan biar diajarin
			gimana
			caranya menyusun CV yang stand out dan bikin HR tertarik nihh 🔥</p>
		<a class="mb-2" href="https://forms.gle/aQzdDhxnY47y7jXG7" target="_blank">Register here</a>
	</div>
</div>