<!-- Gunakan sintaks ini jika upcoming events hanya 1 dan hanya 1 gambar poster -->
<div class="container-xl d-flex flex-column justify-content-center align-items-center py-4">
    <h1 class="col-12 text-center fw-bold py-4" style="color: #083D77;">Upcoming Event</h1>
    <div
        class="upcoming-desc container-xl d-flex flex-column flex-md-row justify-content-around align-items-center py-3">
        <!-- Start upcoming image -->
        <div class="col-12 col-md-6 col-lg-5 mb-4 d-flex justify-content-center" data-aos="fade-right">
            <img src="/assets/img/BoMTalks-GerAce.jpg" alt="poster cv review 1">
        </div>
        <!-- End upcoming image -->

        <!-- Start upcoming event description -->
        <div class="upcoming-event-desc col-12 col-md-6 col-lg-7 d-flex flex-column text-start fw-semibold"
            data-aos="fade-left">
            <p class="fw-bold text-center" style="font-size: clamp(1.1rem, 1vw, 1.2rem);">BOM TALKS: DESIGN & BRANDING</p>
            <p class="fw-bold mb-2 text-center" style="font-size: clamp(1.1 rem, 1vw, 1.2rem);">💥 Kolaborasi Kuat untuk Identitas Brand 💥</p>
            <p class="mb-2">
                Ingin tahu bagaimana menciptakan identitas brand yang kuat melalui desain dan strategi branding yang tepat? 
                Yuk, gabung di webinar kami! <br>
            </p>
            <!-- <p class="my-2">✨ Apa yang bakal kamu pelajari?</p> -->
            <ul>
                <li>🗓️ 09 Mei 2025</li>
                <li>⏰ 19.30 WIB</li>
                <li>📍 Zoom Meeting</li>
                <li>🎟️ GRATIS & TERBUKA UNTUK UMUM!</li>
            </ul>
            <p class="my-2">Bersama narasumber inspiratif:</p>
            <ul class="my-4">
                <li>👨‍💻 Benedicto Geraldo Doa Dawa - Head of Web Development</li>
                <li>👩‍💼 Grace Jane Dorothy - Head of Human Capital System and Development</li>
            </ul>
            <!-- <p class="mb-4">
                Jangan biarin kesempatan ini lewat begitu aja! Persiapkan dirimu dari sekarang, dan wujudkan mimpimu
                jadi awardee! 🚀✨
                <br>
                #YourScholarshipStartsHere
            </p> -->
            <a class="d-flex justify-content-center col-lg-4 col-md-12 col-lg-7 py-3 px-4 mx-auto rounded-pill text-center text-light fw-bold"
                href="https://bit.ly/RegistrasiBoMTalksHI" target="_blank">Klik Disini Untuk Daftar</a>
        </div>
        <!-- End upcoming event description -->
    </div>
</div>