<!-- Gunakan sintaks ini jika upcoming events hanya 1 dan hanya 1 gambar poster -->
<div class="container-xl d-flex flex-column justify-content-center align-items-center py-4">
    <h1 class="col-12 text-center fw-bold py-4" style="color: #083D77;">Upcoming Event</h1>
    <div
        class="upcoming-desc container-xl d-flex flex-column flex-md-row justify-content-around align-items-center py-3">
        <!-- Start upcoming image -->
        <div class="col-12 col-md-6 col-lg-5 mb-4 d-flex justify-content-center" data-aos="fade-right">
            <img src="/assets/img/scholarship-maret.png" alt="poster cv review 1">
        </div>
        <!-- End upcoming image -->

        <!-- Start upcoming event description -->
        <div class="upcoming-event-desc col-12 col-md-6 col-lg-7 d-flex flex-column text-start fw-semibold"
            data-aos="fade-left">
            <p class="fw-bold mb-2 text-center" style="font-size: clamp(1.1rem, 1vw, 1.2rem);">🚀 Siap Jadi Awardee? Ini
                Rahasianya! 🚀</p>
            <p>
                Banyak yang pengen dapet beasiswa tapi nyerah di tengah jalan. Kenapa? Karena gak tahu harus mulai dari
                mana, bingung bikin esai, atau gak siap wawancara beasiswa. Padahal, ada strategi biar peluang lolos
                makin besar! 🤩 <br>
                House Ilmu Indonesia melalui Scholarship Corner bakal bantu kamu pahami langkah-langkah sukses meraih
                beasiswa impian! Gak ada lagi salah daftar atau esai asal-asalan. Semua dibahas tuntas di 2 pertemuan
                ini! <br>
            </p>
            <p class="my-2">✨ Apa yang bakal kamu pelajari?</p>
            <ul>
                <li>📌 Cara mencari & mendaftar beasiswa dengan strategi yang tepat</li>
                <li>📌 Rahasia menulis esai yang bikin reviewer terkesan</li>
                <li>📌 Strategi memilih beasiswa yang cocok buat kamu</li>
                <li>📌 Checklist dokumen penting & cara menyusunnya secara efektif</li>
            </ul>
            <p class="my-2">💥 Gak cuma itu! Kamu juga bakal dapetin:</p>
            <ul>
                <li>✅ CV + template esai sukses</li>
                <li>✅ Daftar beasiswa terbaru + panduan lengkap pendaftarannya</li>
                <li>✅ 5++ Modul persiapan beasiswa yang bisa diakses seumur hidup</li>
                <li>✅ Akses PPT dari speaker & awardee inspiratif</li>
                <li>✅ Networking dengan alumni beasiswa dari berbagai program</li>
                <li>✅ Gabung komunitas scholarship hunters buat sharing & motivasi</li>
                <li>✅ Rekaman Zoom Beasiswa Pertamina, Djarum Beasiswa Plus, Beasiswa Bank Indonesia, Beasiswa KSE,
                    dan
                    kelas UI/UX yang bisa diakses kapan aja!</li>
            </ul>
            <p class="mb-4">
                Jangan biarin kesempatan ini lewat begitu aja! Persiapkan dirimu dari sekarang, dan wujudkan mimpimu
                jadi awardee! 🚀✨
                <br>
                #YourScholarshipStartsHere
            </p>
            <a class="d-flex justify-content-center col-lg-4 col-md-12 col-lg-7 py-3 px-4 mx-auto rounded-pill text-center text-light fw-bold"
                href="https://s.id/Registrasi_LiveSession_ScholarshipCorner2025" target="_blank">Daftar Sekarang
                Yuk!</a>
        </div>
        <!-- End upcoming event description -->
    </div>
</div>