<!-- Gunakan sintaks ini jika upcoming events hanya 1 dan dengan lebih dari 1 poster gambar -->
<div class="container-xl d-flex flex-column justify-content-center align-items-center py-4">
    <h1 class="col-12 text-center fw-bold py-4" style="color: #083D77;">Upcoming Event</h1>
    <div
        class="upcoming-desc container-xl d-flex flex-column flex-md-row justify-content-around align-items-center py-3">
        <!-- Start upcoming swiper -->
        <div class="swiper swiperUpcoming col-12 col-md-6 mb-4" data-aos="fade-right">
            <!-- Start swiper images -->
            <div class="swiper-wrapper d-flex flex-row justify-content-around align-items-center">
                <div class="swiper-slide d-flex flex-column justify-content-center align-items-center">
                    <img class="" src="/assets/img/career-checkpoint-januari2025.png" alt="poster cv review 1">
                </div>
                <div class="swiper-slide d-flex flex-column justify-content-center align-items-center">
                    <img class="" src="/assets/img/chillups3.jpeg" alt="poster cv review 1">
                </div>
            </div>
            <!-- End swiper images -->

            <!-- Start swiper button -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <!-- End swiper button -->
        </div>
        <!-- End upcoming swiper -->

        <!-- Start upcoming event description -->
        <div class="upcoming-event-desc col-12 col-md-6 d-flex flex-column align-items-center text-center fw-semibold"
            data-aos="fade-left">
            <p class="px-0 px-md-3 mb-4">Masih bingung gimana bikin CV yang stand out? 🚀
                Yuk, ikutan Career Checkpoint GRATIS dari @houseilmu.id!
                Cuma di Januari, jadi buruan daftar sekarang! 🎯
            </p>
            <a class="col-lg-4 col-md-6 py-3 px-4 rounded-pill text-light fw-bold"
                href="https://bit.ly/CVREVIEWSUBMISSION" target="_blank">Daftar Sekarang Yuk!</a>
        </div>
        <!-- End upcoming event description -->
    </div>
</div>