/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.env.*
!.env.example
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
.env.example
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.swp
*.swo
*~
.atom/
.brackets.json
.sublime-project
.sublime-workspace
.phpstorm.meta.php
_ide_ helper.php
.tmproj
*.ntvs*
*.njsproj
*.sln
*.sw?
bootstrap/cache/*.php
bootstrap/cache/*.json
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/logs/*.log
storage/app/public/*
!storage/app/public/.gitignore
dump.rdb
composer.phar
